*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color:white;
    
}

#container{
    text-align: center;
    margin:20px 0px
}

input{
    padding:8px 10px;
    width:200px;
    border:none
}

button{
    background-color: darkgray;
    color:white;
    border:none;
    padding:8px 10px
}

#form{
    margin: 18px 0px;
}

#note{
    margin:14px 0px
}